<%= form_with model:book, local:true do |f| %>
  <% if book.errors.any? %>
    <div>
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p class="holder"><%= f.label :title %></p>
    <%= f.text_field :title %>
  </div>

  <div>
    <p class="holder"><%= f.label :body %></p>
    <%= f.text_area :body %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
